In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = "Resources/population.csv"

In [3]:
population = pd.read_csv(data)
df = pd.DataFrame(population)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0,NaN

In [4]:
df_filtered = df[['Country Name', 'Country Code', 'Indicator Name',
                   '2015', '2016', '2017', '2018', '2019']]
df_filtered

,Country Name,Country Code,Indicator Name,2015,2016,2017,2018,2019
0,Aruba,ABW,"Population, total",104341.0,104872.0,105366.0,105845.0,106314.0
1,Afghanistan,AFG,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
2,Angola,AGO,"Population, total",27884381.0,28842484.0,29816748.0,30809762.0,31825295.0
3,Albania,ALB,"Population, total",2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
4,Andorra,AND,"Population, total",78011.0,77297.0,77001.0,77006.0,77142.0
...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",1788196.0,1777557.0,1791003.0,1797085.0,1794248.0
260,"Yemen, Rep.",YEM,"Population, total",26497889.0,27168210.0,27834821.0,28498687.0,29161922.0
261,South Africa,ZAF,"Population, total",55386367.0,56203654.0,57000451.0,57779622.0,58558270.0
262,Zambia,ZMB,"Population, total",15879361.0,16363507.0,16853688.0,17351822.0,17861030.0
263,Zimbabwe,ZWE,"Population, total",13814629.0,14030390.0,14236745.0,14439018.0,14645468.0

In [5]:
df_population = df_filtered.rename(columns = {"Country Code":"country_code",
                                        "Country Name": 'country_name',
                                        "Indicator Name": 'indicator_name'})
df_population

,country_name,country_code,indicator_name,2015,2016,2017,2018,2019
0,Aruba,ABW,"Population, total",104341.0,104872.0,105366.0,105845.0,106314.0
1,Afghanistan,AFG,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
2,Angola,AGO,"Population, total",27884381.0,28842484.0,29816748.0,30809762.0,31825295.0
3,Albania,ALB,"Population, total",2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
4,Andorra,AND,"Population, total",78011.0,77297.0,77001.0,77006.0,77142.0
...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",1788196.0,1777557.0,1791003.0,1797085.0,1794248.0
260,"Yemen, Rep.",YEM,"Population, total",26497889.0,27168210.0,27834821.0,28498687.0,29161922.0
261,South Africa,ZAF,"Population, total",55386367.0,56203654.0,57000451.0,57779622.0,58558270.0
262,Zambia,ZMB,"Population, total",15879361.0,16363507.0,16853688.0,17351822.0,17861030.0
263,Zimbabwe,ZWE,"Population, total",13814629.0,14030390.0,14236745.0,14439018.0,14645468.0

In [6]:
df_population.to_csv ('population_filtered.csv', index=False)

In [7]:
filepath = "Resources/cleaned_dataset.csv"
dataset = pd.read_csv(filepath)
dataset

,Unnamed: 0,country_code,country_id,country_name,region_id,region_name,income_group_id,income_group_name,income_group_acronym,implementing_agency_id,...,transaction_type_id,transaction_type_name,fiscal_year,current_amount,constant_amount,USG_sector_id,USG_sector_name,submission_id,latitude,longitude
0,0,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,2,Obligations,2015,361000000,386648190,8,Good Governance,76,33.939110,67.709953
1,1,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,2,Obligations,2018,344314589,350993643,8,Good Governance,76,33.939110,67.709953
2,2,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,3,Disbursements,2016,339124982,360030165,8,Good Governance,76,33.939110,67.709953
3,3,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,2,Obligations,2015,330000000,353445714,28,Infrastructure,76,33.939110,67.709953
4,4,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,3,Disbursements,2015,273000000,292396000,8,Good Governance,76,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82849,82849,GRD,308,Grenada,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,5,...,2,Obligations,2016,7300,7750,29,Agriculture,85,12.262776,-61.604171
82850,82850,AUS,36,Australia,1,East Asia and Oceania,4.0,High Income Country,HIC,15,...,3,Disbursements,2015,4678,5010,28,Infrastructure,26,-25.274398,133.775136
82851,82851,AUS,36,Australia,1,East Asia and Oceania,4.0,High Income Country,HIC,15,...,2,Obligations,2015,4678,5010,28,Infrastructure,26,-25.274398,133.775136
82852,82852,DNK,208,Denmark,2,Europe and Eurasia,4.0,High Income Country,HIC,5,...,3,Disbursements,2016,3455,3668,29,Agriculture,85,56.263920,9.501785
82853,82853,DNK,208,Denmark,2,Europe and Eurasia,4.0,High Income Country,HIC,5,...,2,Obligations,2016,3455,3668,29,Agriculture,85,56.263920,9.501785

In [8]:
merged_df = pd.merge(dataset, df_population, how = 'left', 
                     on=['country_code', 'country_name'])
merged_df

,Unnamed: 0,country_code,country_id,country_name,region_id,region_name,income_group_id,income_group_name,income_group_acronym,implementing_agency_id,...,USG_sector_name,submission_id,latitude,longitude,indicator_name,2015,2016,2017,2018,2019
0,0,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,Good Governance,76,33.939110,67.709953,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
1,1,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,Good Governance,76,33.939110,67.709953,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
2,2,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,Good Governance,76,33.939110,67.709953,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
3,3,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,Infrastructure,76,33.939110,67.709953,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
4,4,AFG,4,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,1,...,Good Governance,76,33.939110,67.709953,"Population, total",34413603.0,35383128.0,36296400.0,37172386.0,38041754.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82849,82849,GRD,308,Grenada,6,Western Hemisphere,3.0,Upper Middle Income Country,UMIC,5,...,Agriculture,85,12.262776,-61.604171,"Population, total",109599.0,110261.0,110874.0,111454.0,112003.0
82850,82850,AUS,36,Australia,1,East Asia and Oceania,4.0,High Income Country,HIC,15,...,Infrastructure,26,-25.274398,133.775136,"Population, total",23815995.0,24190907.0,24601860.0,24982688.0,25364307.0
82851,82851,AUS,36,Australia,1,East Asia and Oceania,4.0,High Income Country,HIC,15,...,Infrastructure,26,-25.274398,133.775136,"Population, total",23815995.0,24190907.0,24601860.0,24982688.0,25364307.0
82852,82852,DNK,208,Denmark,2,Europe and Eurasia,4.0,High Income Country,HIC,5,...,Agriculture,85,56.263920,9.501785,"Population, total",5683483.0,5728010.0,5764980.0,5793636.0,5818553.0
82853,82853,DNK,208,Denmark,2,Europe and Eurasia,4.0,High Income Country,HIC,5,...,Agriculture,85,56.263920,9.501785,"Population, total",5683483.0,5728010.0,5764980.0,5793636.0,5818553.0

In [9]:
merged_df.to_csv('merged_dataset.csv')